<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
          <!-- <li><script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=bWWMtUHXhX4_KVnkJ-k1GL_PEZEA0lCjHMP81H6JXAA&cl=ffffff&w=a"></script></li> -->
          <li><script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=hTxyDCpAFGmse2NCHLjlA3079v7NSBHXIjnN8mG-hlE"></script></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h2 style="font-weight: 600;">Contact</h2>
        <p>For anything important, please email me at: <a href="mailto:contact.ducdatdau@gmail.com">contact.ducdatdau@gmail.com</a></p>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <!-- <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div> -->
    </div>

  </div>

</footer>
