// Override LoveIt SCSS variables
$global-background-color-dark: #1d1e20;
$header-background-color-dark: #161617;

$code-font-family: Consolas, "Fira Code", Menlo, Monaco, "Liberation Mono", "Courier New", monospace;